@CHARSET "US-ASCII";

.nav {
	height: 40px
}

.menuItem {
	float: left;
	font-size: larger;
	margin-right: 10px;
}

.selected {
}

.menuItem.selected {
	color: white;
	background-color: black;
	padding: 5px;
	padding-bottom: 25px;	
}

#portefeuille {
	float: left; 
	width: 20%;
	margin-top: 20px
}

#companies {
	float: left; width: 5%
}

#maincontent {
	float: left; width: 75%
}

#container {
	height: 600px;
}

#spelersportefeuille {
	background-color: red; position:absolute; width:100%
}